{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}

{{!-- The big featured header --}}
<header class="main-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <div class="on-image-logo__wrapper">
        <img src="{{asset "imgs/emil-cardell-white.svg"}}" class="on-image-logo__image" />
    </div>
</header>
<div class="nav" id="nav">
    <div class="nav__logo nav__logo--hidden" id="logo" >
        <img src="{{asset "imgs/emil-cardell-black.svg"}}" />
    </div>
{{navigation}}
</div>


<main id="content" class="content" role="main">
    <article class="{{post_class}}">
        <section class="post-excerpt">
            <h1 class="post-title">{{title}}</h1>
        </section>

        <section class="post-content">
            {{content}}
        </section>

    </article>
</main>


{{/post}}
