{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{!-- The big featured header --}}
<header class="main-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <div class="on-image-logo__wrapper">
        <img src="{{asset "imgs/emil-cardell-white.svg"}}" class="on-image-logo__image" />
    </div>
</header>
<div class="nav" id="nav">
    <div class="nav__logo nav__logo--hidden" id="logo" >
        <img src="{{asset "imgs/emil-cardell-black.svg"}}" />
    </div>
{{navigation}}
</div>


<main id="content" class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <time class="post-date--top" datetime="{{date format="YYYY-MM-DD"}}">published {{date format="DD MMMM YYYY"}}</time>
            <div class="post-tags">{{tags prefix=" on " separator=" and "}}</div>
            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">published {{date format="DD MMMM YYYY"}}</time>
        </header>
        <section class="post-excerpt">
            <h1 class="post-title">{{title}}</h1>
        </section>

        <section class="post-content">
            {{content}}
            <time class="post-content__date" datetime="{{date format="YYYY-MM-DD"}}"><span class="post-content__sharp">#</span> {{date format="DD MMMM YYYY"}}</time>
        </section>

    </article>
    <section class="comments-wrapper">
        <div id="disqus_thread"></div>
        <script>

        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
        /*
        var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//emilcardell.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next">
    <div class="read-next__content">
        <h3 class="read-next__header">Wait. Ther is more</h3>
        {{#next_post}}
        <div class="read-next-story"  href="{{url}}">
            <header class="post-header">
                <div class="post-tags">{{tags prefix=" on " separator=" and "}}</div>
            </header>
            <section class="post-excerpt">
                <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
            </section>
        </div>
        {{/next_post}}
        {{#prev_post}}
        <div class="read-next-story prev" href="{{url}}">
            <header class="post-header">
                <div class="post-tags">{{tags prefix=" on " separator=" and "}}</div>
            </header>
            <section class="post-excerpt">
                <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
            </section>
        </div>
        {{/prev_post}}
    </div>
</aside>

{{/post}}
